.todo-card {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.todo-card-two {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
.status {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.status.done {
  border-color: #27ae60;
  color: #27ae60;
}

.todo-content {
  flex: 1;
  text-align: left;
}

.todo-content h3 {
  margin-bottom: 6px;
}

.todo-content p {
  font-size: 14px;
  color: #555;
}

.view-btn {
  background-color: #2f80ed;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
}
