.todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.view-all {
  text-decoration: underline;
  margin-bottom: 20px;
  cursor: pointer;
}

.add-btn {
  background-color: #2f80ed;
  color: #fff;
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 16px;
}
