.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.back-link {
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
.controls {
  display: flex;
  gap: 12px;
  margin: 20px 0 30px;
  flex-wrap: wrap;
}

.controls input,
.controls select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
} */

