.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.back-link {
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

